# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# the experiment
apparatus

# reference material manually added as needed
reference

external
.mcp.json

